### Write a for loop using range() for 1 to 4

In [1]:
for val in range(1,5):
    print(val)
print(val)

1
2
3
4
4

In [2]:
for val in range(1,5):
    print(val,end= ' ')

1 2 3 4

### Write a program to print numbers from -1 to -10 in single line using for loop

In [3]:
for val in range(-1,-11,-1):
    print(val,end=' ')

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10